Django>1.8,<1.9
mysqlclient
django-jet
django-bower
django-pipeline
django-bootstrap3
django-compressor
#django-nvd3
django-extensions
Werkzeug
django-debug-toolbar==1.4
libsass
django-datatables-view
xlsxwriter
