{% extends "admin/base_admin_custom.html" %}

{% load i18n frontend_tags bootstrap3 %}
{% block title %}Ingreso masivo de costos{% endblock %}
{% block last_breadcrumbs %}&rsaquo;
    <a href="{% url 'costos:index' %}">Ingreso masivo de costos</a>
     &rsaquo; {{ title_tipo_costo }}
{% endblock %}

{% block content %}
    <h2>{{ title_tipo_costo }}</h2>
    <p class="alert-info alert">
    Podrá ingresar todos los costos del periodo seleccionado. Si existiese algún dato duplicado, se mostrará una alerta.
    En caso de dejar vacio el campo Monto, esa fila será ignorada.
    </p>

    <form action="." method="post">
        {% csrf_token %}
        {{ formsets.management_form }}
        {{ formsets.non_form_errors }}
        <div class="col-sm-6">
            {% bootstrap_form p_form layout='horizontal' %}
        </div>
    <div class="col-sm-6">
        <a class="btn btn-primary" href="{% url 'admin:parametros_periodo_add' %}">Añadir periodo</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Centro de costo</th>
            <th colspan="2">Monto ($)</th>
        </tr>
        </thead>
        <tbody>
        {% block formsets %}

        {% endblock %}
        </tbody>
    </table>


        <input type="submit" value="Guardar" class="submit" />
    </form>
{% endblock %}