{% extends "frontend/base_custom.html" %}
{% load i18n frontend_tags charts_tags static %}
{% block title %}Panel de Control{% endblock %}
{% block last_breadcrumbs %}Panel de control{% endblock %}

{% block pretitle %}<h2>PANEL DE CONTROL</h2>{% endblock %}

{% block content %}
    <div class="filters">
        {% if perms.costos.can_export_panel_control %}
        <a class="btn btn-primary pull-right" id="export_excel">Exportar a XLS</a>
        {% endif %}
        <form method="get" action="." class="form-inline">
            <div class="form-group">
                <label for="periodo-sel">Periodo: </label>
                <select name="periodo" id="periodo-sel" placeholder="Periodo">
                    {% for pe in periodos %}
                        <option value="{{ pe.pk }}" {% if pe.pk == periodo.pk %} selected{% endif %}>{{ pe }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="button" type="submit">Ver</button>

        </form>

    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#venta-costos">Ventas - Costos</a></li>
        <li><a data-toggle="tab" href="#resumen-costo">Resumen Costos</a></li>
        <li><a data-toggle="tab" href="#archivos-tab">Archivos</a></li>
        <li><a data-toggle="tab" href="#listado-equipo-cc">Listado de equipos por CC</a></li>
    </ul>
    <div class="tab-content">
        <div id="venta-costos" class="tab-pane fade in active">
            <h2>Resumen de COSTOS vs VENTAS </h2>
            {%  include 'frontend/includes/panel_control_costos_ventas.html' %}
        </div>
        <div id="archivos-tab" class="tab-pane fade">
            <h2>Archivos </h2>
            {% for fil in archivos %}
                <div class="col-sm-6">
                    <div class="well">
                        <a class="btn btn-default" href="{{ fil.archivo.url }}">{{ fil.archivo.name }}</a>
                        {% if fil.comentario %}
                            <p>{{ fil.comentario }}</p>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
            {% if not archivos %}
                <p class="alert alert-danger">
                No hay archivos asociados al periodo.
                </p>
            {% endif %}
            <div class="col-sm-12">
                <a href="{% url 'admin:costos_archivosadjuntosperiodo_add' %}?periodo={{ periodo.pk }}">Agregar archivos</a>
            </div>
        </div>
        <div id="resumen-costo" class="tab-pane fade">
            <h2>Resumen de costos</h2>
            {%  include "frontend/includes/panel_control_resumen_costos.html" %}
        </div>
        <div id="listado-equipo-cc" class="tab-pane fade">
            <h2>Utilización de equipos por CC</h2>
            {% include "frontend/includes/panel_control_listado_equipos.html" %}
        </div>

    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $("#export_excel").click(function(){
                    window.location = "{% url 'frontend:export_panel_control_excel' %}?periodo=" + $("#periodo-sel").val();
                })
                var data = [
                    {% if resumen_costos %}
                            {% for i in resumen_costos|extraer_data_grafico_costos:-1 %}{
                            x: "{{i.0}}", y: {{i.1|js_format}}
                        }{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                ];
                var ventas = [
                    {% if cert_costos %}
                        {% for i in cert_costos|extraer_data_grafico_resumen:2 %}{
                            x: "{{ i.0 }}", y: {{ i.1|js_format }}
                        }{%  if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                ];
                var servicios = [
                    {% if cert_costos %}
                        {% for i in cert_costos|extraer_data_grafico_resumen:3 %}{
                            x: "{{ i.0 }}", y: {{ i.1|js_format }}
                        }{%  if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                ];
                nv.addGraph(graphCostosVentasBar(data, ventas, servicios));
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href")
                    if (target == "#resumen-costo") {
                        nv.addGraph(graphResumenCostosBar(data));
                        nv.addGraph(graphResumenCostosPie(data));
                    } else if (target == "#venta-costos"){
                        nv.addGraph(graphCostosVentasBar(data, ventas, servicios));
                    }
                });


            });
        })(jQuery);
    </script>
{% endblock %}
