{% load frontend_tags %}
{% if equipos.items %}

    <table class="table" id="table-equipos">
        {% for name,values in equipos.items %}
            <thead>
            <tr>
                <th colspan="8">{{ name }} - TOTAL: {{ totales|get_item:values.0.obra_id|money }}</th>
            </tr>
            <tr>

                <th>N° Interno</th>
                <th>Familia de equipo</th>
                <th>Días en el mes</th>
                <th>Lubricantes y fluidos</th>
                <th>Tren de rodaje</th>
                <th>Costos de posesión</th>
                <th>Reserva para reparaciones</th>

            </tr>
            </thead>
            <tbody>
            {% for line in values %}

                <tr>
                    <td>
                        <a href="{% url 'admin:core_equipos_change' line.registro_equipo__equipo_id %}">
                            {{ line.registro_equipo__equipo__n_interno }}</a>
                    </td>
                    <td>{{ line.registro_equipo__equipo__familia_equipo__nombre|default:"Sin familia asociada." }}</td>
                    <td>{{ line.dias_mes }}</td>
                    <td>{{ line.fluido|money }}</td>
                    <td>{{ line.tren|money }}</td>
                    <td>{{ line.posesion|money }}</td>
                    <td>{{ line.repara|money }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>TOTAL:</td>
                <td colspan="4"><strong>{{ totales|get_item:values.0.obra_id|money }}</strong></td>

            </tr>
            </tbody>
        {% endfor %}
    </table>
{% else %}
    <p class="alert alert-warning">
        No existen datos para el periodo seleccionado.
    </p>
{% endif %}
