{% extends "frontend/base_custom.html" %}
{% load i18n frontend_tags charts_tags static %}
{% block title %}Panel de Control - ZILLE WEB{% endblock %}
{% block last_breadcrumbs %}Panel de control{% endblock %}

{% block pretitle %}<h2>PANEL DE CONTROL</h2>{% endblock %}

{% block content %}
    <div class="filters">
        <form method="get" action=".">
            <label>Periodo: </label>
            <select name="periodo">
                {% for pe in periodos %}
                    <option value="{{ pe.pk}}" {% if pe.pk == periodo.pk %} selected{% endif %}>{{ pe }}</option>
                {% endfor %}
            </select>
            <button class="button" type="submit">Ver</button>
        </form>
    </div>

    <h2>Centro de costos</h2>
    {% if resumen_costos %}
    <table class="table">
        {% for cc in resumen_costos %}
            {% if forloop.first %}
            <thead>
            <tr>
                {% for head in cc %}
                <th>
                    {{ head }}
                </th>
                {%  endfor %}
            </tr>
            </thead>
            {% elif forloop.last %}
                <thead>
                <tr>
                    {% for head in cc %}
                    <th>
                        {% if forloop.first %}
                            {{ head }}
                        {% else %}
                            {{ head|money }}
                        {%  endif %}
                    </th>
                {%  endfor %}
                </tr>
                </thead>
            {% else %}
                <tr>
                {% for cell in cc %}

                    <td>
                    {% if forloop.first %}
                        {{ cell }}
                    {% else %}
                        {{ cell|money }}
                    {%  endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% else %}
    <p class="alert alert-info">
        No existen datos para el periodo seleccionado.
    </p>
    {% endif %}

    <div class="resumen" id="resumen" style="display: block;width: 100%;height:500px; overflow: hidden;">
        <svg style="width: 100%;height:500px;"></svg>
    </div>
    <div class="resumen" id="resumen-pie" style="display: block;width: 100%;height:500px; overflow: hidden;">
        <svg style="width: 100%;height:500px;"></svg>
    </div>
    {% if equipos.items and False %}
    <h2>Utilización de equipos por CC</h2>
    <table class="table">
    {% for name,values in equipos.items %}
        <thead>
        <tr>
            <th colspan="8">{{ name }}</th>
        </tr>
        <tr>

            <th>N° Interno</th>
            <th>Función</th>
            <th>Operario</th>
            <th>Días en el mes</th>
            <th>Lubricantes y fluidos</th>
            <th>Tren de rodaje</th>
            <th>Costos de posesión</th>
            <th>Reserva para reparaciones</th>

        </tr>
        </thead>
        <tbody>
        {% for line in values %}

            <tr>
                <td><a href="{% url 'admin:core_equipos_change' line.equipo__equipo_id %}">{{ line.equipo__equipo__n_interno }}</a></td>
                <td>{{ line.funcion__funcion }}</td>
                <td>{{ line.operario__nombre }}</td>
                <td>{{ line.dias_mes }}</td>
                <td>{{ line.fluido|money }}</td>
                <td>{{ line.tren|money }}</td>
                <td>{{ line.posesion|money }}</td>
                <td>{{ line.repara|money }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td>TOTAL: </td>
            <td colspan="4"><strong>{{ totales|get_item:values.0.obra_id|money }}</strong></td>

        </tr>
        </tbody>
    {% endfor %}
    </table>
    {% endif %}


{% endblock %}
{% block js %}
<script type="text/javascript">
   // (function ($) {
    //    $(document).ready(function () {
            var data = [
                    {% for i in resumen_costos|extraer_data_grafico %}{
                    x: "{{i.0}}", y: {{i.1|js_format}}
                }{% if not forloop.last %}, {% endif %}{% endfor %}
            ];

            nv.addGraph(function () {
                var chart = nv.models.discreteBarChart()
                        .options({
                            margin: {left: 150, bottom: 200},
                            showXAxis: true,
                            showYAxis: true,
                            transitionDuration: 250,
                            height: 500,
                            width: 750,
                            noData: "No hay datos de costos para el periodo seleccionado.",
                        });

                chart.xAxis
                        .axisLabel("CC")
                        .rotateLabels(-45)
                        .tickFormat(function (d) {
                            return d
                        });
                var commasFormatter = d3.format(",");
                chart.yAxis
                        .axisLabel('Costo ($)')
                        .tickFormat(function(d) { return "$" + commasFormatter(d); });

                d3.select("#resumen>svg")
                        .datum([
                            {
                                values: data,
                                key: "Resumen de costos",
                                color: "#2ca02c"
                            }])
                        .transition().duration(1200)
                        .call(chart);


                nv.utils.windowResize(function () {
                    chart.update();
                });
                return chart;
            });

   nv.addGraph(function () {

       var commasFormatter = d3.format(",");
       var chart = nv.models.pieChart()
               .showLabels(true)
               .labelType("percent")
               .donut(true)
               .donutRatio(0.3)
               ;

       d3.select("#resumen-pie>svg")
               .datum(data)
               .transition().duration(1200)
               .call(chart);

       return chart;
   });
 //       });
 //   })(jQuery);
</script>
{% endblock %}
