{% extends "admin/base.html" %}

{% load i18n compress pipeline frontend_tags %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
         	&rsaquo;
        {% block last_breadcrumbs %}{% endblock %}
    </div>
{% endblock %}
{% block bodyclass %}custom-admin{% endblock %}
{% block extrastyle %}
    {% compress css %}
        {% stylesheet 'base' %}
        {% stylesheet 'plugins' %}
{#        <link media="all" href="{% static "nvd3/build/nv.d3.min.css" %}" type="text/css" rel="stylesheet" />#}
    {% endcompress %}
{% endblock %}

{% block jsinclude %}
    {% compress js %}
        {% javascript 'base_js' %}
        {% javascript 'plugins_js' %}
{#        {% javascript 'graphics_js' %}#}
    {% endcompress %}
{% endblock %}